<base-showcase [showInputs]="false">
  <div examples>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12 title-showcase">
            Estandar
          </div>
          <div class="col-12">
            <iframe src="https://es.wikipedia.org/wiki/Angular_(framework)" frameborder="0" rsbLoadIframe (loadIframe)="load()" style="width: 100%; min-height: 50vh;"></iframe>
            <rsb-spinner></rsb-spinner>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div code>
    <rsb-tabs>
      <rsb-tab-item title="HTML">
<pre><code class="language-markup" pCode ngNonBindable>&lt;iframe src=&quot;https://www.cuerpomente.com/guia-alimentos/aguacate&quot; frameborder=&quot;0&quot; rsbLoadIframe (loadIframe)=&quot;load()&quot; style=&quot;width: 100%; min-height: 75vh;&quot;&gt;&lt;/iframe&gt;
&lt;rsb-spinner&gt;&lt;/rsb-spinner&gt;
</code></pre>
      </rsb-tab-item>
      <rsb-tab-item title="TS">
<pre><code class="language-typescript" pCode ngNonBindable>import &#123; Component &#125; from '@angular/core';
import &#123; RsbSpinnerService &#125; from 'rsb-library';
import &#123; RsbCacheService &#125; from '../../services/rsb-cache.service';

@Component(&#123;
  selector: 'app-showcase-rsb-load-iframe',
  templateUrl: './showcase-rsb-load-iframe.component.html'
&#125;)

export class ShowcaseRsbLoadIframeComponent
&#123;
  constructor(private rsbSpinner:RsbSpinnerService, private RsbCache:RsbCacheService)
  &#123;
    this.rsbSpinner.showSpinner();
    this.RsbCache.setElement('title', 'Load iframe');
  &#125;
  load()
  &#123;
    console.log('Iframe cargado.');
    this.rsbSpinner.hideSpinner();
  &#125;
&#125;  
</code></pre>
      </rsb-tab-item>
    </rsb-tabs>
  </div>
  <div outputs class="scrollable">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Valor devuelto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>loadIframe</td>
          <td>Evento al cargar el iframe</td>
          <td>boolean</td>
        </tr>
      </tbody>
    </table>
  </div>
</base-showcase>